body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#top-banner {
    height: 600px;
    background-image: url(images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
}

.top-part {
    font-size: 200%;
    color: white;
    margin-left: 10%;
}


.top-heading {
    margin-top: 10%;

}

.top-para {
    font-size: 50%;
    padding-bottom: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.button {
    text-decoration: none;
    color: white;
    font-size: 50%;
    padding: 15px;
    border: 2px solid #EF233C;
    border-radius: 10px;
    background-color: #EF233C;

}


#second-part {
    display: flex;
    margin: 5% 5% 0 5%;
    font-size: 140%;
    color: black;

}

.left-side {
    padding: 5% 5% 0 5%;
    width: 40%;
    margin-top: 2%;
}

.right-side {
    padding: 5% 5% 0 5%;
    width: 40%;

}

.cow-img {
    width: 100%;
    height: 85%;
}

.second-para {
    font-size: 70%;
    padding-bottom: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.second-button {
    text-decoration: none;
    color: white;
    font-size: 80%;
    padding: 10px;
    border: 2px solid #EF233C;
    border-radius: 10px;
    background-color: #EF233C;

}



#third-part {
    display: flex;
    margin: 0 5% 5% 5%;
    font-size: 140%;
    color: black;

}

.hujur-side {
    padding: 0 5% 5% 5%;
    width: 40%;
}

.hujur-right-side {
    padding: 10% 5% 5% 5%;
    width: 40%;

}

.hujur-img {
    width: 100%;
    height: 85%;
}

.third-button {
    text-decoration: none;
    color: white;
    font-size: 80%;
    padding: 10px;
    border: 2px solid #EF233C;
    border-radius: 10px;
    background-color: #EF233C;

}


#fourth-part {
    margin-bottom: 9%;
}

.middle-part {
    text-align: center;
    margin: 0 5% 0 5%;
    font-size: 140%;
    color: black;
    height: 180px;
}



.mother-div {
    display: flex;
    padding: 0 15% 0 15%;
}

.seperate {
    padding-bottom: 5%;
}

.child-div {
    display: flex;
    width: 50%;
    background-color: mistyrose;
    padding: 20px 40px 20px 30px;
    margin: 15px;
    border-radius: 10px;
}

.help-img {
    width: 40%;
    margin-top: 25px;
}

.child-div h3 {
    font-size: x-large;
}

.child-div p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pray-pic {
    display: flex;
}

.pray {
    width: 95%;
    margin: 10% 65% 0 63%;

}

#mother-div-zakat {
    display: flex;
    margin: 0 7% 0 7%;
    padding-bottom: 10%;

}

.zakat-child {
    border: 1px solid none;
    border-radius: 10px;
    margin: 0 2% 0 2%;
    object-fit: cover;
    box-shadow: 0 0 1px gray;
    box-shadow: 0 0 1px gray;

}

.zakat-img {
    width: 100%;
}

.zakat-content {
    padding: 5px 20px 20px 20px;
    margin: 0 15px 15px 15px;
}

.zakat-content h3 {
    font-size: x-large;
}

.zakat-content p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.zakat-content a {
    color: #EF233C;
    font-size: x-large;
}


footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 25px 0 25px 0;

}

footer h2 {
    color: #EF233C;
    font-family: 'Lemon', cursive;
}

footer p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: 100;
}